@font-face{
    font-family: star jedi;
    src: url(Starjedi.ttf)
}

@keyframes pulsacion{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

html{
    background-color: #121212;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

button{
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

section{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

p{
    color: #b3b3b3;
}

header, h2, h3, h4{
    color: white;
}

/*HEADER*/

@keyframes aparicion{
    from{
        opacity: 0;
    }

    to{
        opacity: 100%;
    }
}

header{
    align-items: center;
    background-image: url(images/index/header/pexels-francesco-ungaro-998641.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    font-size: 1.3rem;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
}

header > *{
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-name: aparicion;
}

h1{
    color: #ffe81f;
    font-size: 3rem;
    font-family: star jedi;
}

header > *{
    overflow: auto;
    text-align: center;
    width: 50%;
}


header p{
    color: white;
}

header .container{
    padding: 1.75rem;
}

button{
    border-radius: 10px;
    outline: none;
    padding: 1rem;
}

.watch-trailer{
    background: none;
    border: 2px solid #ffe81f;
    color: #ffe81f;
    font-size: 1.75rem;
    transition: all 0.5s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.watch-trailer:hover{
    background-color:  #ffe81f;
    box-shadow: 0px 0px 13px 13px #f5e76a;
    color: #202020;
}

/*MODS*/

.mod{
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    width: 100%;
}

.title-container{
    align-items: center;
    background-color: rgba(20, 20, 20, 0.5);
    padding: 1.2rem;
    width: 25%;
}

.title-container > *{
    padding: 1.5rem;
}

.title-container p{
    text-align: justify;
}

.video-container{
    width: 50%;
}

.video-mod{
    width: 100%;
}

.mod-button{
    background: none;
    border: 2px solid;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    outline: none;
    transition: all 1s;
    width: 50%;
}

a .mod-button{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

#purple{
    border-color: #724491;
    color: #724491;
}

#purple:hover{
    background-color: #724491;
    color: white;
}

#green{
    border-color: #449177;
    color: #449177;
}

#green:hover{
    background-color: #449177;
    color: white;
}

#orange{
    border-color: #916d44;
    color: #916d44;
}

#orange:hover{
    background-color: #916d44;
    color: white;
}

h2{
    font-size: 2.5rem;
    margin: 0;
}

b{
    color: white;
}

#remaster{
    background-image: url(images/index/mods/Republic_Fleet.png);
}

#rezzed{
    background-image: url(images/index/mods/Star_Wars_Battlefront_II_2005_Screenshot_2019.01.10_-_22.51.09.36.png);
}

#ism{
    background-image: url(images/index/mods/BattlefrontII_2018-05-16_16-18-53.png);
}

.responsive-rezzed{
    display: none;
}

/*GALERIA*/

.contenedor{
    background-color: #202020;
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    grid-template-areas: "img1 img1 img1 img2 img2 img3"
                "img1 img1 img1 img2 img2 img3"
                "img6 img6 gallery-button img4 img4 img3"
                "img6 img6 img7 img4 img4 img9"
                "img6 img6 img7 img8 img8 img9";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 90vh;
    margin: 0;
    padding: 1rem;
    width: 90vw;
}

.contenedor .galeria{
    border-radius: 10px;
    height: auto;
}

.blur{
    align-items: center;
    border: none;
    display: none;
    justify-content: center;
    height: 100%;
}

.blur p{
    color: white;
}

.blur:hover{
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    color: white;
    font-size: 2rem;
}

.contenedor .galeria:hover .blur{
    cursor: pointer;
    display: flex;
    transition-duration: 0.5s;
}

.gallery-button{
    border: 4px solid #090909;
    border-radius: 10px;
}

.gallery-button button{
    background: none;
    color:white;
    font-size: 2rem;
    height: 100%;
    outline: none;
    transition: all 1s;
    width: 100%;
}

.gallery-button button:hover{
    background: #0275d8;
    border: none;
    box-shadow: 5px 5px 5px 10px #090909;
}

.responsive-button{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    position: relative;
    width: 100%;
}

.responsive-button button{
    align-items: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: latente;
    background-color: #0275d8;
    border: none;
    color: white;
    display: none;
    justify-content: center;
    padding: 1.75rem;
    transition: all 0.5s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.responsive-button button p{
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
}

@keyframes latente{
    0%   {transform: scale(1);}
  50% {transform: scale(1.2);}
  100%   {transform: scale(1);}
}

.contenedor > .img1{
    background-image: url("images/index/gallery/Lucrehulk.png");
    background-position: center;
    background-size: cover;
    grid-area: img1;
}

.contenedor> .img2{
    background-image: url("images/index/gallery/Yavin_Space_Remaster.png");
    background-position: center;
    background-size: cover;
    grid-area: img2;
}

.contenedor > .img3{
    background-image: url("images/index/gallery/Jango.png");
    background-position: center;
    background-size: cover;
    grid-area: img3;
}

.contenedor > .img4{
    background-image: url("images/index/gallery/Star_Wars_Battlefront_II_2005_Screenshot_2019.01.01_-_20.53.03.05.png");
    background-position: center;
    background-size: cover;
    grid-area: img4;
}

.contenedor > .gallery-button{
    grid-area: gallery-button;
}

.contenedor > .img6{
    background-image: url("images/index/gallery/Star_Wars_Battlefront_II_2005_Screenshot_2019.12.17_-_14.46.41.04.png");
    background-position: center;
    background-size: cover;
    grid-area: img6;
}

.contenedor > .img7{
    background-image: url("images/index/gallery/Vader_-_Battlefront_2_Remaster.png");
    background-position: center;
    background-size: cover;
    grid-area: img7;
}

.contenedor > .img8{
    background-image: url("images/index/gallery/BattlefrontII_2018-01-29_23-15-46.png");
    background-position: center;
    background-size: cover;
    grid-area: img8;
}

.contenedor > .img9{
    background-image: url("images/index/gallery/Star_Wars_Battlefront_II_2005_Screenshot_2019.10.07_-_13.05.41.05.png");
    background-position: center;
    background-size: cover;
    grid-area: img9;
}


/*REDES*/

#redes{
    height: 66vh;
    padding: 2rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.card{
    background-color: #202020;
    border-radius: 10px;
    margin: 1rem;
    width: 25%;
    padding-bottom: 5rem;
}

h3{
    font-size: 3rem;
}

.icono-redes{
    font-size: 8rem;
    padding: 1.25rem;
    transition: all 0.75s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.icono-redes:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}

.fa-patreon{
    color: #f96854;
}

.fa-youtube{
    color: #c4302b;
}

.fa-discord{
    color: #7289da;
}

.info-redes{
    padding: 1.5rem;
    display: none;
}

.info-redes > *{
    padding: 0.5rem;
}

#izq{
    text-align: left;
}

#der{
    text-align: right;
}

/*MEDIA*/

@media (max-width: 3840px){
    html{
        font-size: 22px;
    }
}

@media (max-width: 2048px)
{
    html{
        font-size: 20px;
    }
}

@media (max-width: 1920px){
    html{
        font-size: 16px;
    }
}

@media (max-width: 1366px){
    .card{
        padding-bottom: 3rem;
    }
    
    .hide-ism{
        display: none;
    }
    
    .responsive-rezzed{
        display: block;
    }
    
    .hide-rezzed{
        display: none;
    }
}

@media (max-width: 1200px){
    #redes{
        padding: 0rem;
    }
    
    .watch-trailer{
        background-color: #ffe81f;
        color: #202020;
        transition: all 0s;
    }
    
    .watch-trailer:hover{
        background-color:  #ffe81f;
        box-shadow: none;
        color: #202020;
    }
    
    .contenedor .galeria:hover .blur{
        display: none;
    }
    
    .contenedor{
        grid-template-areas: "img1 img1 img1 img2 img2 img2"
        "img1 img1 img1 img2 img2 img2"
        "img1 img1 img1 img4 img4 img4"
        "img6 img6 img6 img4 img4 img4"
        "img6 img6 img6 img4 img4 img4";
    }
    
    .gallery-button, .img3, .img7, .img8, .img9{
        display: none;
    }
    
    .responsive-button button{
        display: flex;
    }
    
    #purple{
        background-color: #724491;
        color: white;
    }
    
    #green{
        background-color: #449177;
        color: white;
    }
    
    #orange{
        background-color: #916d44;
        color: white;
    }

}

@media (max-width: 1000px){
    html{
        font-size: 14px;
    }

    section, .mod{
        height: 50vh;
    }

    .cards{
        align-items: flex-start;
    }

    .title-container{
        box-shadow: 0px 0px 10px 10px black;
        width: 75%;
    }

    #rezzed .title-container{
        box-shadow: 0px 0px 10px 10px black;
    }

    .video-container{
        display: none;
    }

    .info-redes{
        display: none;
    }

    .watch-trailer{
        align-items: flex-end;
    }

    .responsive-button button p{
        font-size: 2.25rem;
        margin: 1rem;
    }

    .hide-ism{
        display: block;
    }

    .responsive-rezzed{
        display: none;
    }

    .hide-rezzed{
        display: block;
    }
    .contenedor{
        height: 45vh;
    }
}

@media (max-width: 768px){
    .responsive-button button{
        font-size: 1rem;
        padding: 1.25rem;
    }

    .title-container h2{
        padding: 0;
        font-size: 2rem;
    }

    .title-container{
        width: 60%;
    }

    .hide-rezzed{
        margin: 0;
    }

    h3{
        font-size: 1.75rem;
    }

    .icono-redes{
        font-size: 7rem;
    }

}

@media (max-width: 700px){
    section{
        height: auto;
        padding: 2rem;
    }
    .cards{
        align-items: flex-start;
    }
    #mod{
        padding: 0
    }
    h3{
        font-size: 2rem;
    }
    .icono-redes{
        font-size: 6rem;
    }
    .contenedor{
        height: auto;
        grid-template-areas: "img1 img1"
                            "img1 img1"
                            "img2 img2"
                            "img2 img2"
                            "img4 img4"
                            "img4 img4"
                            "img6 img6"
                            "img6 img6";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 100px);

                 
    }

    .responsive-button button{
        font-size: 1rem;
        padding: 1rem;
    }

    #redes{
        padding: 2rem;
    }
}

@media (max-width: 600px){
    html{
        font-size: 12px;
    }

    .responsive-button button{
        padding: 1.5rem;
    }

    .responsive-button button p{
        font-size: 1.5rem;
        margin: 0.5rem;
    }
}

@media (max-width: 550px){
    .title-container{
        width: 50%;
    }

    .title-container p{
        display: none;
    }
}

@media (max-width: 500px){
    .title-container{
        width: 60%;
    }

    #redes{
        padding: 1rem;
    }
}

@media (max-width: 450px){
    header > *{
        width: 60%;
    }

    .icono-redes{
        font-size: 5rem;
    }

    .responsive-button button{
        padding: 1rem;
    }

    .responsive-button button p{
        font-size: 1.5rem;
        margin: 0.5rem;
    }

    .card{
        width: 60%;
    }

    h3{
        font-size: 2rem;
    }

    .icono-redes{
        font-size: 6rem;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2.5rem;
    }
}

@media (max-width: 400px){
    html{
        font-size: 11px;
    }
    
    h1{
        font-size: 2rem;
    }
}

@media (max-width: 300px){
    html{
        font-size: 10px;
    }
}