@font-face{
    font-family: star jedi;
    src: url(Starjedi.ttf)
}

@keyframes pulsacion{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

html{
    background-color: #121212;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color:white;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

button{
    cursor: pointer;
}

/*NAVBAR*/

nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar{
    display: flex;
    height: 5vh;
    background-color: #404040;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    position: relative;
}

.nav-elem{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    font-weight: 600;
    margin: 0;
    height: 100%;
}

.nav-elem a{
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.nav-elem a:hover{
    color: #202020;
    background-color: white;
}

.main{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.main:hover a{
    animation-name: amarillo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

@keyframes amarillo{
    0%{
        color: white;
    }
    50%{
        color: #ffe81f;
    }
    100%{
        color: white;
    }
}

ul{
    list-style: none;
    font-size: 1.25rem;
}

li{
    height: auto;
    padding: 0 4rem;
}

#burger{
    display: none;
    padding: 0;
    position: absolute;
    right: 3rem;
}

#burger:hover{
    background: none;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

section{
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}

p{
    color: #b3b3b3;
}

header, h2, h3, h4{
    color: white;
}

/*HEADER*/

@keyframes aparicion{
    from{
        opacity: 0;
    }

    to{
        opacity: 100%;
    }
}

header{
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-image: url(images/header/pexels-francesco-ungaro-998641.jpg);
    background-position: center;
    background-size: cover;
}

header > *{
    animation-name: aparicion;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

h1{
    font-size: 3rem;
    font-family: star jedi;
    color: #ffe81f;
}

header > *{
    width: 50%;
    text-align: center;
    overflow: auto;
}


header p{
    color: white;
}

header .container{
    padding: 1.75rem;
}

button{
    border-radius: 10px;
    outline: none;
    padding: 1rem;
}

.watch-trailer{
    font-size: 1.75rem;
    background: none;
    color: #ffe81f;
    border: 2px solid #ffe81f;
    transition: all 0.5s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.watch-trailer:hover{
    background-color:  #ffe81f;
    box-shadow: 0px 0px 13px 13px #f5e76a;
    color: #202020;
}

/*MODS*/

.mod{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.title-container{
    background-color: rgba(20, 20, 20, 0.7);
    border-radius: 10px;
    padding: 1.2rem;
    width: 25%;
    align-items: center;
    box-shadow: -10px 10px 10px 8px black;
}

#rezzed .title-container {
    box-shadow: 10px 10px 10px 8px black;
}

.title-container > *{
    padding: 1.5rem;
}

.title-container p{
    text-align: justify;
}

.video-container{
    width: 50%;
}

.video-mod{
    width: 100%;
}

.mod-button{
    border: 2px solid;
    background: none;
    outline: none;
    font-size: 1.5rem;
    width: 50%;
    letter-spacing: 0.2rem;
    transition: all 1s;
}

a .mod-button{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

#purple{
    border-color: #724491;
    color: #724491;
}

#purple:hover{
    background-color: #724491;
    color: white;
}

#green{
    border-color: #449177;
    color: #449177;
}

#green:hover{
    background-color: #449177;
    color: white;
}

#orange{
    border-color: #916d44;
    color: #916d44;
}

#orange:hover{
    background-color: #916d44;
    color: white;
}

h2{
    font-size: 2.5rem;
    margin: 0;
}

b{
    color: white;
}

#remaster{
    background-image: url(images/mods/Republic_Fleet.png);
}

#rezzed{
    background-image: url(images/mods/Star_Wars_Battlefront_II_2005_Screenshot_2019.01.10_-_22.51.09.36.png);
}

#ism{
    background-image: url(images/mods/BattlefrontII_2018-05-16_16-18-53.png);
}

/*GALERIA*/

.contenedor{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "img1 img1 img1 img2 img2 img3"
                "img1 img1 img1 img2 img2 img3"
                "img6 img6 gallery-button img4 img4 img3"
                "img6 img6 img7 img4 img4 img9"
                "img6 img6 img7 img8 img8 img9";
    height: 90vh;
    margin: 0;
    padding: 1rem;
    background-color: #202020;
    width: 90vw;
    border-radius: 10px;
}

.contenedor .galeria{
    height: auto;
    border-radius: 10px;
}

.blur{
    height: 100%;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
}

.blur p{
    color: white;
}

.blur:hover{
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 2rem;
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}

.contenedor .galeria:hover .blur{
    display: flex;
    transition-duration: 0.5s;
    cursor: pointer;
}

.gallery-button{
    border: 4px solid #090909;
    border-radius: 10px;
}

.gallery-button button{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    background: none;
    color:white;
    outline: none;
    transition: all 1s;
}

.gallery-button button:hover{
    border: none;
    box-shadow: 5px 5px 5px 10px #090909;
    background: #0275d8;
}

.responsive-button{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 3rem 0;
}

.responsive-button button{
    border: none;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    padding: 1.75rem;
    background-color: #0275d8;
    color: white;
    animation-name: latente;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.responsive-button button p{
    font-size: 2rem;
    margin: 0.5rem;
    color: white;
}

@keyframes latente{
    0%   {transform: scale(1);}
  50% {transform: scale(1.2);}
  100%   {transform: scale(1);}
}

.contenedor > .img1{
    grid-area: img1;
    background-image: url("images/gallery/Lucrehulk.png");
    background-size: cover;
    background-position: center;
}

.contenedor> .img2{
    grid-area: img2;
    background-image: url("images/gallery/Yavin_Space_Remaster.png");
    background-size: cover;
    background-position: center;
}

.contenedor > .img3{
    grid-area: img3;
    background-image: url("images/gallery/Jango.png");
    background-size: cover;
    background-position: center;
}

.contenedor > .img4{
    grid-area: img4;
    background-image: url("images/gallery/Star_Wars_Battlefront_II_2005_Screenshot_2019.01.01_-_20.53.03.05.png");
    background-size: cover;
    background-position: center;
}

.contenedor > .gallery-button{
    grid-area: gallery-button;
}

.contenedor > .img6{
    grid-area: img6;
    background-image: url("images/gallery/Star_Wars_Battlefront_II_2005_Screenshot_2019.12.17_-_14.46.41.04.png");
    background-size: cover;
    background-position: center;
}

.contenedor > .img7{
    grid-area: img7;
    background-image: url("images/gallery/Vader_-_Battlefront_2_Remaster.png");
    background-size: cover;
    background-position: center;
}

.contenedor > .img8{
    grid-area: img8;
    background-image: url("images/gallery/BattlefrontII_2018-01-29_23-15-46.png");
    background-size: cover;
    background-position: center;
}

.contenedor > .img9{
    grid-area: img9;
    background-image: url("images/gallery/Star_Wars_Battlefront_II_2005_Screenshot_2019.10.07_-_13.05.41.05.png");
    background-size: cover;
    background-position: center;
}


/*REDES*/

.cards{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 25%;
    background-color: #202020;
    border-radius: 10px;
    margin: 1rem;
}

h3{
    font-size: 3rem;
}

.icono-redes{
    padding: 1.25rem;
    font-size: 8rem;
    transition: all 0.75s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.icono-redes:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}

.fa-patreon{
    color: #f96854;
}

.fa-youtube{
    color: #c4302b;
}

.fa-discord{
    color: #7289da;
}

.info-redes{
    padding: 1.5rem;
}

.info-redes > *{
    padding: 0.5rem;
}

#izq{
    text-align: left;
}

#der{
    text-align: right;
}

/*FOOTER*/

.container-footer{
    display: flex;
    height: 12vh;
    background-color: #202020;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.container-footer > *{
    padding: 0.25rem 0;
}

h4{
    margin-top: 0rem;
    font-size: 1.25rem;
    margin: 0;
}

.iconos-pers{
    font-size: 2rem;
}

.iconitos{
    padding: 1rem;
    margin: 0 0.5rem;
    transition: all 1s;
    border-radius: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

 .fa-linkedin:hover{
    transform: scale(1.15);
    background-color: white;
    border-radius: 50%;
    color: #0e76a8;
}

.fa-envelope:hover{
    transform: scale(1.15);
    background-color: white;
    border-radius: 50%;
    color: #cc5500;
}

.fa-github:hover{
    transform: scale(1.15);
    background-color: white;
    border-radius: 50%;
    color: #333;
}

/*MEDIA*/

@media (max-width: 1200px){
    .main:hover a{
        animation: none;
    }
    .watch-trailer{
        background-color: #ffe81f;
        color: #202020;
        transition: all 0s;
    }
    .watch-trailer:hover{
        background-color:  #ffe81f;
        box-shadow: none;
        color: #202020;
    }
    li{
        padding: 0.6rem 3rem;
    }
    .contenedor .galeria:hover .blur{
        display: none;
    }
    
    .contenedor{
        grid-template-areas: "img1 img1 img1 img2 img2 img2"
        "img1 img1 img1 img2 img2 img2"
        "img1 img1 img1 img4 img4 img4"
        "img6 img6 img6 img4 img4 img4"
        "img6 img6 img6 img4 img4 img4";
    }
    .gallery-button, .img3, .img7, .img8, .img9{
        display: none;
    }
    
    .responsive-button button{
        display: flex;
    }

    #purple{
        background-color: #724491;
        color: white;
    }
    
    #green{
        background-color: #449177;
        color: white;
    }
    
    #orange{
        background-color: #916d44;
        color: white;
    }
}

@media (max-width: 1000px){
    html{
        font-size: 14px;
    }
    section, .mod{
        height: 50vh;
    }
    .cards{
        align-items: flex-start;
    }
    .title-container{
        width: 75%;
        box-shadow: 0px 0px 10px 10px black;
    }

    #rezzed .title-container{
        box-shadow: 0px 0px 10px 10px black;
    }

    .video-container{
        display: none;
    }
    .info-redes{
        display: none;
    }

    .watch-trailer{
        align-items: flex-end;
    }

    .responsive-button button p{
        font-size: 2.25rem;
        margin: 1rem;
    }
}

@media (max-width: 900px){
    .navbar{
        padding: 0 3rem;
    }
    #burger{
        display: block;
    }
    li{
        font-size: 1.75rem;
        padding: 0;
        height: auto;
    }
    #burger{
        font-size: 1.25rem;
    }
    .nav-elem{
        margin: 0;
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 5vh;
        display: flex;
        flex-direction: column-reverse;
        width: 45%;
        align-items: center;
        justify-content: space-around;
        background-color: #202020;
        padding: 0;
        transform: translateX(100%);
    }
    li:hover{
        background-color: #202020;
        color: white;
    }

    .main:hover a{
        animation: none;
    }
    
    .main a:checked {
        background-color: #404040;
    }
}

@media (max-width: 768px){
    .contenedor{
        height: 45vh;
    }
    
    .responsive-button button{
        padding: 1.75rem;
        font-size: 1.25rem;
    }
}

@media (max-width: 700px){
    section{
        height: auto;
        padding: 2rem;
    }
    .cards{
        align-items: flex-start;
    }
    #mod{
        padding: 0
    }
    h3{
        font-size: 2rem;
    }
    .icono-redes{
        font-size: 6rem;
    }
    .contenedor{
        height: auto;
        grid-template-rows: repeat(8, 100px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "img1 img1"
                            "img1 img1"
                            "img2 img2"
                            "img2 img2"
                            "img4 img4"
                            "img4 img4"
                            "img6 img6"
                            "img6 img6";

                 
    }

    .responsive-button button{
        padding: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 600px){
    html{
        font-size: 12px;
    }

    .responsive-button button{
        padding: 1.5rem;
    }

    .responsive-button button p{
        font-size: 1.5rem;
        margin: 0.5rem;
    }
}

@media (max-width: 550px){
    .title-container{
        width: 50%;
    }
    .title-container p{
        display: none;
    }
}

@media (max-width: 500px){
    .title-container{
        width: 60%;
    }
}

@media (max-width: 450px){
    header > *{
        width: 60%;
    }
    .icono-redes{
        font-size: 5rem;
    }
    .responsive-button button{
        padding: 1rem;
    }
    .responsive-button button p{
        font-size: 1.5rem;
        margin: 0.5rem;
    }
    .card{
        width: 60%;
    }
    h3{
        font-size: 2rem;
    }
    .icono-redes{
        font-size: 6rem;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2.5rem;
    }
    .nav-elem{
        width: 100%;
    }
}

@media (max-width: 400px){
    html{
        font-size: 11px;
    }
    h1{
        font-size: 2rem;
    }
}

@media (max-width: 300px){
    html{
        font-size: 10px;
    }
}